# Arooba-AIOps dnsmasq configuration for Raspberry Pi 5 AP
interface=wlan0
dhcp-range=192.168.4.10,192.168.4.200,255.255.255.0,24h
domain=wlan
address=/gw.wlan/192.168.4.1

# Upstream DNS servers
server=8.8.8.8
server=1.1.1.1

# DHCP authoritative mode
dhcp-authoritative
log-queries
log-dhcp
